.lista-contactos-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.lista-contactos {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* Centra el contenido del texto */
  color: blueviolet;
}

.lista-contactos li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}
